<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eaglesoft.zjhz.dao.jc.TestJcYhglMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eaglesoft.zjhz.entity.jc.testJcYhgl">
        <id column="BH" property="bh"/>
        <result column="ZH" property="zh"/>
        <result column="ZH_MD5" property="zhMd5"/>
        <result column="MM" property="mm"/>
        <result column="XM" property="xm"/>
        <result column="XMPY" property="xmpy"/>
        <result column="TX" property="tx"/>
        <result column="DH" property="dh"/>
        <result column="SJ" property="sj"/>
        <result column="XNW" property="xnw"/>
        <result column="YX" property="yx"/>
        <result column="BM" property="bm"/>
        <result column="ZW" property="zw"/>
        <result column="JS" property="js"/>
        <result column="SJLD" property="sjld"/>
        <result column="WXBDID" property="wxbdid"/>
        <result column="DWBH" property="dwbh"/>
        <result column="WZH" property="wzh"/>
        <result column="JYZT" property="jyzt"/>
        <result column="SCBZ" property="scbz"/>
        <result column="ISCJGL" property="iscjgl"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BH, ZH, ZH_MD5, MM, XM, XMPY, TX, DH, SJ, XNW, YX, BM, ZW, JS, SJLD, WXBDID, DWBH, WZH, JYZT, SCBZ, ISCJGL
    </sql>

    <select id="selectPageForSql" resultType="com.eaglesoft.zjhz.vo.common.jc.yhgl.JcYhPageResult">
        SELECT bh as id,zh FROM jc_yhgl  where zh LIKE CONCAT('%',#{username},'%')
    </select>


    <insert id="insertForSql" parameterType="com.eaglesoft.zjhz.vo.common.jc.yhgl.JcyhAddRequest">
        <selectKey keyProperty="bh" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO jc_yhgl(zh,xm,dh,sj) VALUE (#{zh},#{xm},#{dh},#{sj})
    </insert>

</mapper>
